pipeline/pl_awss3_adls_sqlserver.json
{
	"name": "pl_awss3_adls_sqlserver",
	"properties": {
		"activities": [
			{
				"name": "Copy data_s3_adls_sqlserver",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AmazonS3ReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_s3_paruet_binary",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_landing_adls_Binary",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "filecheck",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data_s3_adls_sqlserver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_lookup_s3landing_Parquet",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "filecheck",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "rowcount",
					"value": {
						"value": "@if(empty(activity('filecheck').output.firstRow), 0, 1)\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_lookup_s3landing_Parquet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_s3_SqlServerTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_InsertLoadHistory]",
					"storedProcedureParameters": {
						"data_factory": {
							"value": {
								"value": "@pipeline().parameters.data_factory",
								"type": "Expression"
							},
							"type": "String"
						},
						"job_rerun": {
							"value": "true",
							"type": "Boolean"
						},
						"load_sink": {
							"value": {
								"value": "@pipeline().parameters.load_sink",
								"type": "Expression"
							},
							"type": "String"
						},
						"load_type": {
							"value": {
								"value": "@pipeline().parameters.load_type",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"record_count": {
							"value": {
								"value": "@variables('rowcount')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"success": {
							"value": "true",
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"database": "AzurePipelineManagement"
					}
				}
			}
		],
		"parameters": {
			"data_factory": {
				"type": "string"
			},
			"load_sink": {
				"type": "string"
			},
			"load_type": {
				"type": "int"
			}
		},
		"variables": {
			"rowcount": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}