pipeline/pl_excelsheets_ingestion.json
{
	"name": "pl_excelsheets_ingestion",
	"properties": {
		"activities": [
			{
				"name": "configFile lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_datalake_Json",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "set fileSystem",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "configFile lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileSystem",
					"value": {
						"value": "@activity('configFile lookup').output.firstRow.file_system",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set source path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set fileSystem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sourcePath",
					"value": {
						"value": "@activity('configFile lookup').output.firstRow.raw.source_path",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set source file",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set fileSystem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sourcePath",
					"value": {
						"value": "@activity('configFile lookup').output.firstRow.raw.source_file",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set source sheet",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set fileSystem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sourceSheet",
					"value": {
						"value": "@activity('configFile lookup').output.firstRow.raw.source_sheets",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set sink path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set source file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sourceFile",
					"value": {
						"value": "@activity('configFile lookup').output.firstRow.raw.sink_path",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set sink file",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set source sheet",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set source path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sinkPath",
					"value": {
						"value": "@activity('configFile lookup').output.firstRow.raw.sink_file_pattern",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy Excel sheet to csv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set sink path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set sink file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_souce_Excel",
						"type": "DatasetReference",
						"parameters": {
							"sourceFile": {
								"value": "@variables('sourceFile')",
								"type": "Expression"
							},
							"sourcePath": {
								"value": "@variables('sourcePath')",
								"type": "Expression"
							},
							"fileSystem": {
								"value": "@variables('fileSystem')",
								"type": "Expression"
							},
							"sourceSheet": {
								"value": "@variables('sourceSheet')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_target_csv",
						"type": "DatasetReference",
						"parameters": {
							"sinkFile": {
								"value": "@variables('sinkFile')",
								"type": "Expression"
							},
							"sinkPath": {
								"value": "@variables('sinkPath')",
								"type": "Expression"
							},
							"fileSystem": {
								"value": "@variables('fileSystem')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"configFile": {
				"type": "string",
				"defaultValue": "@pipeline().parameters.configFile"
			},
			"configPath": {
				"type": "string",
				"defaultValue": "@pipeline().parameters.configFS"
			},
			"configFS": {
				"type": "string",
				"defaultValue": "@pipeline().parameters.configPath"
			}
		},
		"variables": {
			"latestFolder": {
				"type": "String"
			},
			"prevFolder": {
				"type": "String"
			},
			"sourcePath": {
				"type": "String"
			},
			"fileSystem": {
				"type": "String"
			},
			"sourceFile": {
				"type": "String"
			},
			"sinkPath": {
				"type": "String"
			},
			"sourceSheet": {
				"type": "Array"
			},
			"sinkFile": {
				"type": "String"
			}
		},
		"annotations": []
	}
}