pipeline/pl_excelsheets_ingestion.json
{
	"name": "pl_excelsheets_ingestion",
	"properties": {
		"activities": [
			{
				"name": "configFile lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "ds_souce_Excel",
						"type": "DatasetReference",
						"parameters": {
							"sheetNames": {
								"value": "@pipeline().parameters.source_sheet",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "set fileSystem",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "configFile lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "set fileSystem",
					"value": {
						"value": "@activity('configFile lookup').output.firstRow.filesystem",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set source path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set fileSystem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "set source path",
					"value": {
						"value": "@activity('configFile lookup').output.firstRow.source_path",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set source file",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set fileSystem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "set source file",
					"value": {
						"value": "@activity('configFile lookup').output.firstRow.source_file",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set source sheet",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set fileSystem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "set source sheet",
					"value": {
						"value": "@activity('configFile lookup').output.firstRow.source_sheet",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set sink path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set source file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "set sink path",
					"value": {
						"value": "@activity('configFile lookup').output.firstRow.sink_path",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set sink file",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set source sheet",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set source path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "set sink file",
					"value": {
						"value": "@activity('configFile lookup').output.firstRow.sinkfile",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy Excel sheet to csv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set sink path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set sink file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			}
		],
		"parameters": {
			"fileSystem": {
				"type": "string"
			},
			"source_path": {
				"type": "string"
			},
			"source_file": {
				"type": "string"
			},
			"source_sheet": {
				"type": "string"
			},
			"sink_path": {
				"type": "string"
			},
			"sink_file": {
				"type": "string"
			}
		},
		"variables": {
			"set fileSystem": {
				"type": "String"
			},
			"set source path": {
				"type": "String"
			},
			"set source file": {
				"type": "String"
			},
			"set source sheet": {
				"type": "String"
			},
			"set sink path": {
				"type": "String"
			},
			"set sink file": {
				"type": "String"
			}
		},
		"annotations": []
	}
}